/*------------------------------------
  File for your custom SCSS style
------------------------------------*/
html {
  overflow-x: clip;
  scroll-behavior: smooth;
}

body {
  background-color: #eef5ff;
  overflow-x: clip;
}

.gradient-y-gray {
  background-image: linear-gradient(to bottom, transparent, rgba(var(--bs-dark-rgb), 0.15));
}

.navbar-brand-logo {
  height: 40px;
  width: 50px;
  min-width: auto;
  max-width: none;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler svg {
  height: 1.5rem;
  width: 1.5rem;
}

.hero-logo {
  width: 150px;
}

.brand {
  width: 5rem;
  filter: invert(78%) sepia(7%) saturate(1704%) hue-rotate(188deg) brightness(105%) contrast(102%);
}

.brand:hover {
  filter: invert(95%);
}

.accordion-button, .accordion-item, .accordion-button:not(.collapsed) {
  background-color: transparent;
}

.bg-img-start {
  background-size: contain;
  background-position: center left;
}

.link-light {
  color: #BDD5FF !important;
}

.link-light:hover {
  color: #eef5ff;
}

.card-title {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.btn-ghost-secondary {
  background-color: #BDD5FF;
}

.btn-ghost-secondary:hover {
  background-color: #eef5ff;
}

.list-inline-item:not(:last-child) {
  margin-right: 2rem;
}

.svg-icon-small > svg {
  width: 2rem;
  height: 2rem;
}