<!-- Card Grid -->
<div class="overflow-hidden js-scrollspy" id="about">
  <div class="container position-relative content-space-1 content-space-b-3 content-space-lg-3">
    <!-- Heading -->
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <span class="text-cap">O hře</span>
      <h2>Jaké to bude?</h2>
    </div>
    <!-- End Heading -->
    
    <div class="row g-5">
      <!-- Card -->
      <div class="col-12 col-lg-6" data-aos="fade-right">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-6 col-sm-4 p-0 align-self-center">
              <img class="img-fluid p-4 pb-0 pb-sm-4 pe-sm-0" src="@@autopath/assets/svg/oc-maintenance.svg" alt="lidé se domlouvají na louce">
            </div>
            <div class="col-sm-8 p-0">
              <div class="card-body pt-3 pt-sm-5">
                <h3 class="card-title text-primary">Tymová strategická hra</h3>
                <p class="card-text">Vás pětičlenný tým se utká s&nbsp;ostatními týmy v&nbsp;několika kolech routování v&nbsp;síti. Pouze ta nejlepší strategie zvítězí!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->
      <!-- Card -->
      <div class="col-12 col-lg-6" data-aos="fade-left">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-6 col-sm-4 p-0 align-self-center">
              <img class="img-fluid p-4 pb-0 pb-sm-4 pe-sm-0" src="@@autopath/assets/svg/oc-hi-five.svg" alt="lidé si dávají Hi-five">
            </div>
            <div class="col-sm-8 p-0">
              <div class="card-body pt-3 pt-sm-5">
                <h3 class="card-title text-primary">Všichni jsou vítaní</h3>
                <p class="card-text">Nemusíš být "ajťák" ani mít znalosti o tom, jak fungují počítačové sítě – tvoje strategie může i přesto zvítězit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->
      <!-- Card -->
      <div class="col-12 col-lg-6" data-aos="fade-right">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-6 col-sm-4 p-0 align-self-center">
              <img class="img-fluid p-4 pb-0 pb-sm-4 pe-sm-0" src="@@autopath/assets/svg/oc-growing.svg" alt="člověk vystupuje po schodech">
            </div>
            <div class="col-sm-8 p-0">
              <div class="card-body pt-3 pt-sm-5">
                <h3 class="card-title text-primary">Bude to velké</h3>
                <p class="card-text">Cílíme na 100–120 účastníků celkem. Takže se zamysli a pozvi i všechny přátele (hlavně ty, které chceš porazit!).</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->
      <!-- Card -->
      <div class="col-12 col-lg-6" data-aos="fade-left">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-6 col-sm-4 p-0 align-self-center">
              <img class="img-fluid p-4 pb-0 pb-sm-4 pe-sm-0" src="@@autopath/assets/svg/oc-looking-for-answers.svg" alt="člověk sedí nad knihami">
            </div>
            <div class="col-sm-8 p-0">
              <div class="card-body pt-3 pt-sm-5">
                <h3 class="card-title text-primary">Učebnice nech doma</h3>
                <p class="card-text">Nestuduj teoreticky, přijď si zahrát a tu nejlepší směrovací strategii vymyslíš přímo v&nbsp;terénu. Žádné teoretické poučky!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card -->
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</div>
<!-- End Card Grid -->