<!-- FAQ -->

<div class="overflow-hidden bg-light js-scrollspy" id="faq">
  <div class="container position-relative content-space-2 content-space-lg-3">
    <!-- Heading -->
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <span class="text-cap">FAQ</span>
      <h2>Všechno další, co by tě mohlo zajímat</h2>
    </div>
    <!-- End Heading -->
    
    <div class="w-lg-65 mx-lg-auto">
      <!-- Accordion -->
      <div class="accordion accordion-flush accordion-lg" id="accordionFAQ">
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingFAQOne">
            <a class="accordion-button" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Co si mám představit pod strategickou týmovou hrou?
            </a>
          </div>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingFAQOne" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              V The Routing Game budete spolupracovat v menších týmech s cílem porazit ostatní týmy. Budete mít příležitost vymyslet a vyzkoušet, co nejlepší taktiky a strategie pro zvýšení efektivity komunikace v síti.
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
        
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingFAQTwo">
            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Musí mít náš tým přesně 5 členů?
            </a>
          </div>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingFAQTwo" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              Ano. Kvůli logistice hry je potřeba být součástí přesně 5-členného týmu. Nemusíš však vědět jména všech svých spoluhráčů hned – tým registruje kapitán, který později vyplní jména všech hráčů (hráči se můžou až do pár dní před hrou i měnit).
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->

        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingFAQThree">
            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Co máme dělat, když nám vypladl/ochořel jeden hráč těsně před hrou?
            </a>
          </div>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingFAQThree" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              Ideálně se pokuste sehnat někoho jako náhradu. Jestli to nevyjde, stejně přiďte, ale dejte nám to prosím vědět emailem na <a href="mailto:routing@instruktori.cz" target="_blank">routing@instruktori.cz</a>. My se to pokusíme nějak vymyslet, abyste se i tak mohli hry účastnit.
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
        
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingFAQFour">
            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Musím být ajťák?
            </a>
          </div>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFAQFour" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              Rozhodně ne! Hra je pro všechny a není potřeba mít jakékoliv informatické znalosti. Hodit se ale bude zvědavost, kreativita a chuť zkoušet nové věci a taktiky.
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
        
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingFAQFive">
            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Co zahrnuje cena?
            </a>
          </div>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFAQFive" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              Cena zahrnuje náklady na materiál potřebný na hru. Akce je nezisková, tj. organizátoři hru připravují dobrovolně ve svém volném čase bez nároku na odměnu.
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
        
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingFAQSix">
            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Jaké jsou storno podmínky?
            </a>
          </div>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingFAQSix" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              Storno poplatek při odhlášení týmu závisí na datu odhlášení následovně:
              <ul>
                <li>Odhlášení více než 30 dní před započetím akce: vracíme 70 % účastnického poplatku</li>
                <li>Odhlášení 30 až 10 dní před začátkem akce: vracíme 50 % účastnického poplatku</li>
                <li>Odhlášení 9 až 1 den před začátkem akce vracíme 10 % účastnického poplatku</li>
                <li>Odhlášení v den započetí akce či později: v této době již bohužel nemůžeme slíbit vrácení žádné části poplatku</li>
              </ul>
              V případě zrušení akce ze strany organizátorů vrátíme 100 % účastnického poplatku.
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
        
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingFAQSeven">
            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Můžeme se registrovat i když nikomu v našem týmu ještě nebylo 18 let?
            </a>
          </div>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingFAQSeven" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              Ano, hra je přístupná i zvědavým středoškolákům. Je však nutné, aby všem účastníkům v týmu již bylo 15 (nebo přišli se svým zákonným zástupcem).
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
        
        <!-- Accordion Item -->
        <div class="accordion-item">
          <div class="accordion-header" id="headingFAQEight">
            <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              Mám jinou otázku…
            </a>
          </div>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingFAQEight" data-bs-parent="#accordionFAQ">
            <div class="accordion-body">
              Super! Neváhej a napiš nám na email <a href="mailto:routing@instruktori.cz" target="_blank">routing@instruktori.cz</a>.
            </div>
          </div>
        </div>
        <!-- End Accordion Item -->
        
      </div>
      <!-- End Accordion -->
    </div>
  </div>
</div>
<!-- End FAQ -->