<!-- ========== FOOTER ========== -->
<footer class="bg-dark">
  <div class="container content-space-2 text-center">
    <!-- Logo -->
    <a class="d-inline-flex align-items-center mb-3" href="https://instruktori.cz" aria-label="Front">
      <img class="brand mb-2" src="@@autopath/assets/svg/logo-is.svg" alt="logo Instruktoři Brno">
    </a>
    <!-- End Logo -->
    
    <p class="fs-6 mb-1 text-white-50">The Routing Game organizuje spolek zážitkové pedagogiky <a class="link-light" href="https://instruktori.cz">Instruktoři Brno</a>.</p>
    <p class="fs-6 mb-1 text-white-50">V případě dotazů napiš na <a class="link-light" href="mailto:routing@instruktori.cz" target="_blank">routing@instruktori.cz</a>.</p>
    <p class="fs-6 text-white-50"><a class="link-light" href="https://www.instruktori.cz/zasady-zpracovani-osobnich-udaju/" target="_blank">Zásady zpracování osobních údajů</a></p>
    
    <!-- Socials -->
    <ul class="list-inline mt-5 mb-0">
      <li class="list-inline-item">
        <a class="btn btn-ghost-secondary btn-lg btn-icon rounded-circle" target="_blank" href="https://www.facebook.com/instruktori.brno">
          <span class="svg-icon-small">
            @@include("../assets/icons/soc004.svg")
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-ghost-secondary btn-lg btn-icon rounded-circle" target="_blank" href="https://www.instagram.com/instruktoribrno/">
          <span class="svg-icon-small">
            @@include("../assets/icons/soc005.svg")
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-ghost-secondary btn-lg btn-icon rounded-circle" target="_blank" href="https://www.instruktori.cz/">
          <span class="svg-icon-small">
            @@include("../assets/icons/gen014.svg")
          </span>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-ghost-secondary btn-lg btn-icon rounded-circle" target="_blank" href="mailto:routing@instruktori.cz">
          <span class="svg-icon-small">
            @@include("../assets/icons/com011.svg")
          </span>
        </a>
      </li>
    </ul>
    <!-- End Socials -->
  </div>
</footer>
<!-- ========== END FOOTER ========== -->