<head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta and OG tags -->
    <title>The Routing Game</title>
    <meta name="description" content="Týmová outdoorová městská hra na motivy směrování v počítačových sítích.">
    <meta property="og:title" content="The Routing Game">
    <meta property="og:description" content="Týmová outdoorová městská hra na motivy směrování v počítačových sítích.">
    <meta property="og:image" content="@@autopath/assets/social/preview.png">
    <meta property="og:url" content="https://routing.instruktori.cz">
    <meta property="og:site_name" content="The Routing Game">
    <meta property="og:type" content="website">

    <!-- Favicon -->
    <link rel="shortcut icon" href="@@autopath/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="@@autopath/assets/social/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="@@autopath/assets/social/favicon-32x32.png">

    <!-- Font -->
    <link href="@@vars.themeFont" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <!-- bundlecss:vendor [@@autopath] -->
    <link rel="stylesheet" href="@@autopath/node_modules/aos/dist/aos.css">

    <!-- CSS Front Template -->
    <!-- bundlecss:theme [@@autopath] @@vars.version -->
    <link rel="stylesheet" href="@@autopath/assets/css/theme.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JFDQ5RJGC2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JFDQ5RJGC2');
</script>