<!-- Hero -->
<div class="gradient-y-gray d-lg-flex position-relative" id="top">
  <div class="container d-lg-flex align-items-lg-center content-space-3 content-space-lg-0 min-vh-lg-100">
    <!-- Heading -->
    <div class="w-100">
      <div class="row">
        <div class="col-lg-6">
          <div class="mb-5">
            <img class="hero-logo mb-3" src="@@autopath/assets/svg/router.svg" alt="logo směrovače">
            <h1 class="display-4 mb-4">
              The Routing Game.
            </h1>
            <p class="display-6 mb-4">
              Možnost
              <span class="text-primary text-highlight-warning">
                <span class="js-typedjs"
                data-hs-typed-options='{
                  "strings": ["zažít směrování v&nbsp;sítích.", "vytvořit nejlepší strategii.", "porazit FIT&nbsp;VUT.", "stát se na chvíli směrovačem.", "spoznat aktivní lidi v&nbsp;Brně.", "porazit FI&nbsp;MUNI.", "dozvědět se jak (ne)funguje internet."],
                  "typeSpeed": 90,
                  "loop": true,
                  "backSpeed": 30,
                  "backDelay": 2500
                }'></span>
              </span>
            </p>
            
            <p class="lead">Týmová outdoorová městská hra na motivy směrování v&nbsp;počítačových sítích.</p>
            <p class="lead">21. 9. 2023, Brno</p>
          </div>
          
          <div class="d-grid d-sm-flex gap-3">
            <a class="btn btn-primary btn-transition px-6" href="#signup">Přihlásit tým</a>
            <a class="btn btn-link" href="#about">O čem to bude? <i class="bi-chevron-right small ms-1"></i></a>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Title & Description -->
    
    <!-- Devices -->
    <div class="devices-top-start-50 devices-rotated zi-2" style="top: auto; width: 47rem;">
      <div class="devices-wrap devices-rotated-body">
        <!-- Tablet Device -->
        <figure class="device-tablet" style="width: 27rem;">
          <div class="device-tablet-frame">
            <img class="device-tablet-img" src="@@autopath/assets/img/hero01.jpg" alt="skupina lidí ve futbalové brance">
          </div>
        </figure>
        <!-- End Tablet Device -->
        
        <!-- Vertical Tablet Device -->
        <figure class="device-vertical-tablet" style="width: 18rem;">
          <div class="device-vertical-tablet-frame">
            <img class="device-vertical-tablet-img" src="@@autopath/assets/img/hero02.png" alt="diagram routování v síti">
          </div>
        </figure>
        <!-- End Vertical Tablet Device -->
        
        <!-- Mobile Device -->
        <figure class="device-mobile align-self-start" style="width: 10rem;">
          <div class="device-mobile-frame">
            <img class="device-mobile-img" src="@@autopath/assets/img/hero03.png" alt="diagramy doručování uzlům metodou unicast, broadcast a anycast">
          </div>
        </figure>
        <!-- End Mobile Device -->
        
        <!-- Browser Device -->
        <figure class="device-browser" style="width: 35rem;">
          <div class="device-browser-header">
            <div class="device-browser-header-btn-list">
              <span class="device-browser-header-btn-list-btn"></span>
              <span class="device-browser-header-btn-list-btn"></span>
              <span class="device-browser-header-btn-list-btn"></span>
            </div>
            <div class="device-browser-header-browser-bar">routing.instruktori.cz</div>
          </div>
          <div class="device-browser-frame">
            <img class="device-browser-img" src="@@autopath/assets/img/hero04.jpg" alt="skupina lidí se rozbíhá na louce">
          </div>
        </figure>
        <!-- End Browser Device -->
      </div>
    </div>
    <!-- End Devices -->
  </div>
  
  <!-- Shape -->
  <div class="shape shape-bottom zi-1" style="margin-bottom: -.125rem">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
      <path fill="#eef5ff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
    </svg>
  </div>
  <!-- End Shape -->
  
</div>
<!-- End Hero -->