<!-- Icon Blocks -->
<div class="overflow-hidden bg-light js-scrollspy" id="practicalities">
  <div class="container position-relative content-space-2 content-space-lg-3">
    <!-- Heading -->
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <span class="text-cap">Prakticky</span>
      <h2>Všechno, co o akci potřebuješ vědět</h2>
    </div>
    <!-- End Heading -->
    
    <div class="row">
      <div class="col-sm-6 col-md-4 my-5">
        <!-- Icon Blocks -->
        <div class="text-center pe-lg-6">
          <span class="svg-icon text-primary mb-3">
            @@include("../assets/icons/abs039.svg")
          </span>
          
          <h4>5-členné týmy</h4>
          <p>Jde o kompetitivní hru týmů o přesně 5 členech (ne víc, ne míň). V době registrace nemusíš znát jména všech hráčů<!--, viz <a href="#headingCuriousTwo">FAQ níže</a>--></p>
        </div>
        <!-- End Icon Blocks -->
      </div>
      <!-- End Col -->
      
      <div class="col-sm-6 col-md-4 my-5">
        <!-- Icon Blocks -->
        <div class="text-center pe-lg-6">
          <span class="svg-icon text-primary mb-3">
            @@include("../assets/icons/gen014.svg")
          </span>
          
          <h4>podzim 2024, sobota odpoledne <!-- 21. 9. 2024, odpoledne (<a href="@@autopath/assets/other/routing-game.ics">iCal</a>) --> </h4>
          <p>Hra začne odpoledne a poběží několik hodin, večer předpokládáme spontánní kytarohraní a budeme rádi, když zůstaneš a pokecáš</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
      <!-- End Col -->
      
      <div class="col-sm-6 col-md-4 my-5">
        <!-- Icon Blocks -->
        <div class="text-center pe-lg-6">
          <span class="svg-icon text-primary mb-3">
            @@include("../assets/icons/map009.svg")
          </span>
          
          <h4>V Brně (ještě upřesníme)</h4>
          <p>Přesné místo hry ještě upřesníme, bude to však v širším centru Brna a snadno dostupné MHD (pravděpodobně přímo na zastávce šaliny)</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
      <!-- End Col -->
      
      <div class="col-sm-6 col-md-4 my-5">
        <!-- Icon Blocks -->
        <div class="text-center pe-lg-6">
          <span class="svg-icon text-primary mb-3">
            @@include("../assets/icons/soc004.svg")
          </span>
          
          <h4>Přehled účastníků</h4>
          <p>Používáš-li Facebook, <a href="#" target="_blank">přidej se do události</a> – uvidíš, kdo další se na akci chystá a budeš mít přehled o aktualitách</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
      <!-- End Col -->
      
      <div class="col-sm-6 col-md-4 my-5">
        <!-- Icon Blocks -->
        <div class="text-center pe-lg-6">
          <span class="svg-icon text-primary mb-3">
            @@include("../assets/icons/fin010.svg")
          </span>
          
          <h4>150 Kč / účastník</h4>
          <p>Startovné platí kapitán týmu za celý tým převodem na účet po registraci týmu a přidělení variabilního symbolu</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
      <!-- End Col -->
      
      <div class="col-sm-6 col-md-4 my-5">
        <!-- Icon Blocks -->
        <div class="text-center pe-lg-6">
          <span class="svg-icon text-primary mb-3">
            @@include("../assets/icons/cod012.svg")
          </span>
          
          <h4>Nevíš? Napiš!</h4>
          <p>Je něco důležitého, co bys potřeboval vědět a není to tady? <!-- Jestli to nenajdeš ani ve <a href="#faq">FAQ níže</a>, n --> Napiš nám na <a href="mailto:routing@instruktori.cz" target="_blank">routing@instruktori.cz</a></p>
        </div>
        <!-- End Icon Blocks -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
    
    <!-- SVG Shape -->
    <figure class="position-absolute zi-n1" style="top: -25rem; left: 40rem; width: 62rem; height: 62rem;">
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 260 260">
        <circle fill="#BDD5FF" opacity=".3" cx="130" cy="130" r="130"/>
      </svg>
    </figure>
    <!-- End SVG Shape -->
  </div>
</div>
<!-- End Icon Blocks -->