<!-- Team -->
<div class="container content-space-2 content-space-lg-3" id="team">
  <!-- Heading -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <span class="d-block small font-weight-bold text-cap mb-2">Organizátoři</span>
    <h2>Kdo pro tebe hru připravuje?</h2>
  </div>
  <!-- End Heading -->
  
  <div class="row g-5">
    <div class="col-sm-6 col-md-4">
      <!-- Team -->
      <img class="card-img rounded-2" src="@@autopath/assets/img/team-martin.jpg" alt="fotka Martin Ukrop">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Martin Ukrop</h4>
          <p class="card-text mb-2"><em>Ajťák, výzkumník, učitel, táta.</em></p>
          <p class="card-text">Koordinuji tým a jednotlivé věci dohromady, starám se o web a komunikaci s úřady.</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->
    
    <div class="col-sm-6 col-md-4">
      <!-- Team -->
      <img class="card-img rounded-2" src="@@autopath/assets/img/team-honza.jpg" alt="fotka Honza Mrázek">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Honza Mrázek</h4>
          <p class="card-text mb-2"><em>Výzkumník a bastlíř, který se ve všem snaží posunovat hranice.</em></p>
          <p class="card-text">Zajišťuji, že věci pípají kdy mají a jak mají.</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->
    
    <div class="col-sm-6 col-md-4">
      <!-- Team -->
      <img class="card-img rounded-2" src="@@autopath/assets/img/team-maara.jpg" alt="fotka Maara">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Jiří "Maara" Marek</h4>
          <p class="card-text mb-2"><em>Gamer, pohodář a výletník</em></p>
          <p class="card-text">Starám se o pravidla a o to, abyste správně dostali všechny body.</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->
    
    <div class="col-sm-6 col-md-4">
      <!-- Team -->
      <img class="card-img rounded-2" src="@@autopath/assets/img/team-ondra.jpg" alt="fotka Ondra Bouda">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Ondra Bouda</h4>
          <p class="card-text mb-2"><em>Univerzální programátor, neinstruktor, amatérský sborový zpěvák.</em></p>
          <p class="card-text">Programuji server a potřebuji, aby věci dávaly smysl.</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->
    
    <div class="col-sm-6 col-md-4">
      <!-- Team -->
      <img class="card-img rounded-2" src="@@autopath/assets/img/team-eliska.jpg" alt="fotka Eliška Uhlířová">
      <div class="card card-sm text-center mt-n7 mx-3">
        <div class="card-body">
          <h4 class="card-title">Eliška Uhlířová</h4>
          <p class="card-text mb-2"><em>Studentka, učitelka, milovnice přírody a dobré kávy.</em></p>
          <p class="card-text">Zajišťuji, abyste přišli. Už jste se zaregistrovali? 👀 #budetovelky</p>
        </div>
      </div>
      <!-- End Team -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
  
</div>
<!-- End Team -->